<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>СОСиК</span>
        </a>
        <p>Система для оптимизации складов и курьеров.</p>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Полезные ссылки</h4>
        <ul>
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Товары", products_path %></li>
          <li><%= link_to "Заказы", orders_path %></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Контактная информация</h4>
        <p>
          МГТУ им Н.Э. Баумана <br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>СОСиК</span></strong>. Все права защищены
    </div>
    <div class="credits">
      Разработано в МГТУ им. Н.Э. Баумана
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->